/* Basic styling, its suggested to modify user.css to override/change styles */

/* if you hate Google, then remove this and the font-family 'Montserrat' and 'Bebas Neue' */
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: blue;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
body.homepage {
    background-color: black;
    color: white;
    overflow: hidden;
}
#wrapper-outter {
    width: 100%;
}
.wrapper {
    max-width: 1024px;
    margin: auto;
    overflow: hidden;
}
ul.pics {
    width: 100vw;
    height: 100vh;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}
li.pic {
    display: block;
    text-align: center;
}
li.pic img {
    margin: auto;
    width: 100vw;
    height: 100vh;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
}
.valign-wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    z-index: 999;
}
.valign-item {
    flex: 1;
    max-width: 640px;
    margin: auto;
}
#clock {
    flex: 1;
    text-align: center;
    padding: 1em;
    border-radius: 8px;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.25em;
}
/* Transitions. Referenced by transitions.js */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Management Menus */
form input {
    margin: 1em auto;
    padding: 1em;
    text-align: left;
}
#loginform {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
#loginform input {
    margin: 1em 0 1em 0;
}
#mgmt-pics {
    display: flex;
    list-style: none;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}
.mgmt-pic {
    flex: 1;
    border: 1px solid grey;
    margin: 1em;
    min-width: 15em;
}
.mgmt-pic img {
    min-height: 12em;
}
.mgmt-pic h5, .mgmt-pic p, .mgmt-pic form {
    text-align: center;
    padding: 0.25em;
}
#userList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
#userList li {
    flex: 1;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1em;
}
#newusr {
    padding: 1em;
    margin: 1em;
    text-align: right;
}
#newusr input[type=submit] {
    margin: 1em;
}
h1 {
    text-align: center;
}